.ireport-banner {
    margin-left: 50px;
}

.anonreport-pic {
    width: 400px;
    float: left;
}

.anonreport-pic img {
   max-width: 100%;
}

.anonreport-media {
    width: 400px;
    border: 1px solid red;
}

.anonreport-description {
    margin-left: 410px;
    font-size: 14px;
}

.portaltype-telesur-reportero-anonreport h1 {
    margin-bottom: 10px;
}

/*

LISTREPORT VIEW

*/

.report-item-pic {
    width: 100px;
    float: left;
}

.report-item-pic img {
    width: 100%;
}

/*
REPORT VIEW (PUBLIC)
*/

.report-item {
    width: 140px;
    float: left;
}

.report-item-thumb {
}

#report-items-carousel {
    width: 100%;
    border-top: 1px solid red;
    border-bottom: 1px solid red;
    position:relative;
    padding-top: 10px;
    padding-bottom: 10px;
    min-height: 65px;
}

#report-reports,
#report-arrow-left,
#report-arrow-right {
    float: left;
}

#report-reports {
    width: 847px;
    position: relative;
    left: 10px;
}

#report-arrow-left-list a,
#report-arrow-left a {
    padding: 15px;
    position: relative;
    top: 35px;
    background: url("++resource++telesur.reportero/prev.png") no-repeat scroll -98px 0 transparent;
}

#report-arrow-right-list a,
#report-arrow-right a {
    padding: 15px;
    position: relative;
    top: 35px;
    background: url("++resource++telesur.reportero/next.png") no-repeat scroll -98px 0 transparent;
}

#report-arrow-right-list.show a,
#report-arrow-right.show a {
    background: url("++resource++telesur.reportero/next.png") no-repeat scroll 0 0 transparent;
}

#report-arrow-left-list.show a,
#report-arrow-left.show a {
    background: url("++resource++telesur.reportero/prev.png") no-repeat scroll 0 0 transparent;
}

#content #report-arrow-right a:link,
#content #report-arrow-left a:link {
    border:0;
}

.main-report {
    margin-bottom: 10px;
}

#main-report-media {
    width: 400px;
    border: 1px solid red;
    float: left;
}

#main-report-media img {
    width: 100%;
}

#content a#main-report-title:link {
    color: #990000;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 16px;
    font-weight: bold;
    line-height: 18px;
    margin-bottom: 25px;
    border:0;
}

#content #main-report-comments a:link {
    color: #990000;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 14px;
    font-weight: bold;
    line-height: 18px;
    margin-bottom: 25px;
    border:0;
}

#content #main-report-comments {
    margin-bottom: 25px;
}

#main-report-data {
    margin-left: 415px;
}

.anon-file-download {
    clear:both;   
}

#content .add-report-button a {
    color: #990000;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 16px;
    font-weight: bold;
    padding: 5px;
}

.add-report-button {
    margin-top: 10px;
    margin-bottom: 10px;
}

#content .add-report-button a:link {
    border: 1px solid #990000;
    border-radius: 10px 10px 10px 10px;
}


/*
REPORTS LIST
*/

.reports-list td {
    padding: 3px 10px;
}

td.report-item-list-title {
    width:400px;
}

.arrows-list {
    height: 53px;
}