.ireport-banner {
    
    width: 852px;
}

.ireport-banner img {
    margin-left: 49px;
}

.anonreport-pic {
    width: 400px;
    float: left;
}

.anonreport-pic img {
   max-width: 100%;
}

.anonreport-media {
    width: 400px;
    border: 1px solid red;
}

.anonreport-description {
    margin-left: 410px;
    font-size: 14px;
}

.portaltype-telesur-reportero-anonreport h1 {
    margin-bottom: 10px;
}

/*

LISTREPORT VIEW

*/

.report-item-pic {
    width: 100px;
    float: left;
}

.report-item-pic img {
    width: 100%;
}

/*
REPORT VIEW (PUBLIC)
*/

.report-item {
    float: left;
    text-align: center;
    width: 155px;
}

.report-item-thumb {
}

#report-items-carousel {
    position:relative;
    min-height: 65px;
    border: 1px solid #5C2F39;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 5px 4px 7px -2px;
    margin-bottom: 10px;
    padding: 10px 0 10px 10px;
}

#report-items-carousel .padding {
    padding-top: 10px;
    padding-bottom: 10px;
}

#report-reports,
#report-arrow-left,
#report-arrow-right {
    float: left;
}

#report-reports {
    width: 810px;
    position: relative;
    left: 10px;
}

#report-arrow-left-list a,
#report-arrow-left a {
    padding: 15px;
    position: relative;
    top: 35px;
    background: url("++resource++telesur.reportero/prev.png") no-repeat scroll -98px 0 transparent;
}

#report-arrow-right-list a,
#report-arrow-right a {
    padding: 15px;
    position: relative;
    top: 35px;
    background: url("++resource++telesur.reportero/next.png") no-repeat scroll -98px 0 transparent;
}

#report-arrow-right-list.show a,
#report-arrow-right.show a {
    background: url("++resource++telesur.reportero/next.png") no-repeat scroll 0 0 transparent;
}

#report-arrow-left-list.show a,
#report-arrow-left.show a {
    background: url("++resource++telesur.reportero/prev.png") no-repeat scroll 0 0 transparent;
}

#content #report-arrow-right a:link,
#content #report-arrow-left a:link {
    border:0;
}

.main-report {
    margin-bottom: 10px;
    padding: 50px 10px 46px 73px;
    border: 1px solid #5c2f39;
    border-radius: 10px;
    box-shadow: 5px 4px 7px -2px;
    background: url("++resource++telesur.reportero/fondo_foto_part.jpg") no-repeat scroll -2px -4px transparent
}

#main-report-media {
    border: 1px solid #370715;
    float: left;
}

#main-report-media .padding {
    padding: 10px;
}


#main-report-media img {
    width: 100%;
    box-shadow: 5px 5px 5px -1px;
}

#content a#main-report-title:link {
    color: #990000;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 16px;
    font-weight: bold;
    line-height: 18px;
    margin-bottom: 25px;
    border:0;
}

#content #main-report-comments a:link {
    color: #990000;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 14px;
    font-weight: bold;
    line-height: 18px;
    margin-bottom: 25px;
    border:0;
}

#content #main-report-comments {
    margin-bottom: 25px;
    float: right;
}

#main-report-data {
    margin-left: 430px;
}

.anon-file-download {
    clear:both;   
}

#content .add-report-button a {
    color: #000000;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 16px;
    font-weight: bold;
    padding: 5px;
}

.add-report-button {
    margin-top: 10px;
    margin-bottom: 10px;
}

#content .add-report-button a:link {
    border: 1px solid #000000;
    border-radius: 10px 10px 10px 10px;
}


/*
REPORTS LIST
*/

.reports-list td {
    padding: 3px 10px;
}

td.report-item-list-title {
    width:400px;
}

.arrows-list {
    height: 53px;
}

#content-reports {
    border: 1px solid #5C2F39;
    border-radius: 10px 10px 10px 10px;
    margin: auto;
    padding: 10px;
    width: 892px;
}

.new-report {
    border: 1px solid #CCC;
    border-radius: 10px 10px 10px 10px;
    padding: 20px;
    margin: auto;
    width: 892px;
    margin-top: 10px;
}

.soy-reporter-list-view {
    border: 1px solid #CCC;
    border-radius: 10px 10px 10px 10px;
    padding: 20px;
    margin: auto;
    width: 892px;
}

.new-report-right,
.new-report-left {
    width: 50%;
    float:left;
}

.new-report-right img {
    float: left;
    margin-right: 10px;
}

.new-report-right p {
    padding-left: 10px;
    padding-top: 40px;
    text-align: left;  
}

.requisitos {
    color: #990000;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
}

#ireport-user-data {
    font-weight: bold;
    margin-top: 10px;
}

.user-data {
    font-weight: bold;
    text-align: center;
}

#content .user-data a:link {
    border-bottom: 0;
    color: #000000;
}

#content .nuevo a:link {
    border-bottom: 0;
}